.Home{
    margin: 0px 10% 0px 10%;
}

.home-container{
    /* background-color: black; */
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Heading{
    font-size: 500%;
}

.Green-Line{
    position: relative;
    width: 450px;
    margin: -60px 0px 0px 0px;
    z-index: -1;
}

.Heading-Caption{
    /* background-color: beige; */
    width: 65%;
    font-size: 20px;
    line-height: 25px;
}


.Photo-Banner{

    width: 701.68px;
    height: 558.99px;

    z-index: 1;
    border-radius: 10px;

}

.GetStarted{
    color: white;
    width: 90px;
    padding: 20px;
    border-radius: 50px;
    background-color: #52BD94;
}

